spring:
  application:
    name: l3_manager_employee

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: ${PORT:8080}

Ocean:
  jwt:
    expiration: ${Ocean_JWT_EXPIRATION:60000}
    secretKey: ${Ocean_JWT_SECRET_KEY:ThisIsAVeryLongSecretKeyForHS256JwtSigning123456}
